# Ignore environment variables
.env

# Ignore virtual environment
.venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system file
.DS_Store
